section {
   border: 2px seagreen;
   text-align: center;
   border-style: solid;
   padding: 5px;
}

h1 {
    text-align: center;
    background-color:#3492eb;
    margin: 0;
    margin-bottom: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    width: 60%;
    text-align: right;
    vertical-align: auto;
}
button {
    text-align: center;
}

#test {
    text-align: center;
    padding-top: 0%;
    margin: 1px;
    width: 100%
}
#disclaimer {
    border: 2px black;
    text-align: center;
    border-style: solid;
    margin-bottom: 5px;
}

div {
    text-align: center;
}

#calculatedDoseBox {
    margin-top: 5px;
    margin-bottom: 5px;
}